@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600);

body {
    font-family: "Open Sans", sans-serif;
    background-color: #FFFFFF;
    color: #161616;
    font-size: 125%;
    padding-bottom: 4em;
}

a {
    text-decoration: none;
    color: #3b8bba;
}

h2 {
    text-transform: uppercase;
}

hr {
    border: none;
    border-bottom: 1px dashed #CCC;
}

.feature > blockquote {
    position: relative;
    margin-left: 0em;
    padding-left: 0em;
}

#badge {
    display: table;
    margin: 2em 0em;
}

#badge > div {
    display: table-cell;
    vertical-align: middle;
}

#selfie {
    width: 10em;
    height: 10em;
    background: url(self.png) no-repeat center center;
    background-size: cover;

    border-radius: 5em;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
}

#intro {
    display: block;
    margin-left: 1em;
    padding: 1em;
    background-color: rgb(250, 250, 250);
    border: 1px solid #EEE;

    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
}

#topnav {
    text-align: center;
    background-color: #4CB3B8;
}

#topnav ul {
    display: inline-block;
    margin: 0em;
    padding: 0em;
}

#topnav li{
    display: inline-block;
    list-style: none;
}

#topnav li > a {
    opacity: 0.8;
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 0.5em;
}

#topnav li.selected > a{
    opacity: 1;
}

#topnav li:not(.selected) > a:hover {
    opacity: 0.9;
}

#content {
    width: 80%;
    margin: 0em auto;
}

#page-footer {
    font-size: 0.8em;
    text-align: right;
    color: #AAA;
}

#page-footer a {
    text-decoration: none;
    color: #A1CCE6;
}

#landing-page #work-status {
    padding: 1em;
}

#landing-page .feature > header > h3 {
    margin-bottom: 0.2em;
}

#landing-page .feature > header > .subtitle {
    font-size: 0.8em;
    color: #888;
    font-weight: normal;
}

#landing-page .feature .actions {
    /*text-align: center;*/
}

#landing-page .feature + .seemore {
    margin-top: 1.75em;
}

#landing-page .seemore {
    text-align: center;
}

#landing-page .seemore > a {
    display: block;
    /*color: #3b8bba;*/
    padding: 1em 0em;
    opacity: 0.8;
}

#landing-page #lcolumn {
    padding-right: 1em;
}

#landing-page #rcolumn {
    padding-left: 1em;
}

#projects header > h3 {
    margin-bottom: 0.2em;
}

#projects header > .subtitle {
    font-size: 0.8em;
    color: #888;
    font-weight: normal;
}

@media (max-width: 767px) {
    #badge {
        display: block;
    }

    #badge > div {
        display: block;
    }

    #selfie {
        display: none;
    }

    #intro {
        margin-left: 0em;
    }

    #content {
        width: 90%;
    }

    #landing-page #lcolumn, #landing-page #rcolumn {
        padding: 0em;
    }
}
